@if(showmenu){
 
  <div class="container" style="background-color: rgba(255, 0, 0, 0);">
    <div style="display: flex; flex-direction: row-reverse;">
      <div style="cursor: pointer;" class="cross" (click)="hidemenu()">❌</div>
    </div>
    <div class="greeting-box" style="font-size: 15px;">
      Hello <u style="font-size: 17px;font-weight: 900;">{{ name }}</u>
    </div>
  
    <div class="links">
      <a routerLink="clientdata">Client Data</a>
      <a routerLink="empdata">Employee Data</a>
    </div>
  
    <div class="logout-button">
  
      <button (click)="logout()">Logout</button>
    </div>
  </div>
  
}
@else{
 <div style="padding: 10px;cursor: pointer;background-color: rgba(255, 0, 0, 0);" (click)="hidemenu()">
    <div class="a1"></div>
    <div class="a1"></div>
    <div class="a1"></div>
 </div>
 
<div style="display: flex;justify-content: center;margin-top: 40px;flex-direction: row;">
 <div>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
 </div>
 <div>

 </div>
</div>

}