
<div
>
  <div style="width: 400px; padding: 20px">
    <h1 style="padding-bottom: 10px">Client form</h1>
    <form [formGroup]="clientform">
      <div><label>Name</label></div>
      <div>
        <input type="text" placeholder="Enter name" formControlName="name" />
        <div
          *ngIf="
            clientform.get('name')?.touched &&  clientform.get('name')?.invalid
          "
          class="a1"
        >
          Name is required
        </div>
        <div *ngIf="  clientform.get('name')?.errors?.['minlength']" class="a1">
          name should be > 5 charcter
        </div>
      </div>
      <div><label>Address</label></div>
      <div>
        <input
          type="text"
          placeholder="Enter address"
          formControlName="address"
        />
        <div
          *ngIf="
            clientform.get('address')?.touched &&
            clientform.get('address')?.invalid
          "
          class="a1"
        >
          address is required and address should > 7 character
        </div>
      </div>
      <div><label>PHONE Number</label></div>
      <div>
        <input
          type="text"
          placeholder="Enter Phone number"
          formControlName="phoneno"
        />
        <div
          *ngIf="
            clientform.get('phoneno')?.touched &&
            clientform.get('phoneno')?.invalid
          "
          class="a1"
        >
          address is required and address should > 7 character
        </div>
      </div>

      <div>
        <div>Gender</div>
        <div>
          <input type="radio" value="Male" formControlName="gender" />
          <label>Male</label>
        </div>
        <div>
          <input type="radio" value="female" formControlName="gender" />
          <label>female</label>
        </div>
        <div>
          <input type="radio" value="none" formControlName="gender" />
          <label>None</label>
        </div>
      </div>

      <div>
        <label>Product</label>
        <select formControlName="product">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>

     @if(!editdata){
      <button (click)="addemp()" [disabled]="clientform.invalid">
        add Client
      </button>
     }
     @else {
      <button (click)="editclient()" [disabled]="clientform.invalid">
        edit Client
      </button>
     }
      <button (click)="closeit()">cancel</button>
    </form>
  </div>
</div>
